nav {
    background-color: rgb(51, 51, 51);
}

#branding {
    color: rgb(229, 183, 2);
    font-weight: bold;
}

#navbar-button-custom a {
    font-weight: bold;
    color: rgb(229, 183, 2);
}

#about-wrapper {
    background-color: white;
    width: 60%;
    margin: auto;
    max-width: 800px;
    font-size: 200%;
    margin-top: 8%;
    margin-bottom: 18%;
    padding: 2%;
}
