/****************************************navbar*******************************/
.header {
  background-color: #f1f1f1;
  text-align: center;
  padding:0px;
  margin:0px;
  width:max;
}
#navbar img{
position:sticky;
top:50px;
left:0px;
right:30px;
}
#navbar {
  overflow: auto;
  background-color: #333;
  width:max;
  margin:0px;
}

#navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: auto;
  margin-left: auto;
  margin-right: auto;
}

#navbar a:hover {
  background-color: #DAA520;
  color: black;
}

#navbar a.active {
  background-color: #00000;
  color: white;
}

.content {
  padding: 0;
  width:max;
}
/*sticky nav bar*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#body{
  margin:0px;
}
.sticky + .content {
  padding-top: 0px;
}
.head{
  margin:0px;
  padding:0px;
}
/********************************slides****************************************/
.slideshow{
  margin:0px;
  padding:0px;
}
.myslides{
  margin:0px;
  padding:0px;
}
.title{
  font-weight:bold;
  font-family:"Rockwell Extra Bold",Bold,sans-serif;
  background-clip: text;
  font-size: 30px;
  padding: 14px 10px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: colorRotate 4s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #f5d000 ;
  }
  10% {
    color: #c7a900 ;
  }
  50% {
    color: #947e00 ;
  }
  75% {
    color: #3c341f;
  }
  100% {
    color:#000000;
  }
}
/********************************Welcome***************************************/
.header1{
  font-size: 40px;
  font-family:"Rockwell Extra Bold",Bold,sans-serif;
}
.p1{
  font-size: 20px;
  font-family:"Rockwell Extra Bold",bold,sans-serif;
}
/***********************************OFFICERS***********************************/
.card {
  width:max;
  padding: 20 150px;
  float:left;
}
#officers img {
    width:max;
    border-radius: 100%;
    float: center;
}
/********************************media*****************************************/
#mediaBar {
  float: center;
  overflow: auto;
  background-color: #333;
  width:max;
  margin:0px;
}
.media{
   float: center;
  width:max;
  margin:0px;
}
